<%layout("/layouts/boilerplate.ejs")%>
<div class="row mt-3">
    <div class="col-8 offset-2">
<form action="/listings/<%=list._id%>?_method=PUT" method="Post">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      value="<%=list.title%>"
      name="listing[title]"
      type="text"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input
      value="<%=list.description%>"
      name="listing[description]"
      type="text"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input
      value="<%=list.image.url%>"
      name="listing[image]"
      type="text"
      class="form-control"
    />
  </div>
  <div class="row">
    <div class="mb-3 col-md-4">
      <label for="price" class="form-label">Price</label>
      <input
        value="<%=list.price%>"
        name="listing[price]"
        type="text"
        class="form-control"
      />
    </div>
    <div class="mb-3 col-md-8">
      <label for="location" class="form-label">Location</label>
      <input
        value="<%=list.location%>"
        name="listing[location]"
        type="text"
        class="form-control"
      />
    </div>
  </div>

  <div class="mb-3">
    <label for="country" class="form-label">Country</label>
    <input
      value="<%=list.country%>"
      name="listing[country]"
      type="text"
      class="form-control"
    />
  </div>
</form>
</div>
</div>

